[plum]
url = http://nireshprabu.online

[database]
backend = PostgreSQL13 
name = plum-instance
user =  plum-user
password = postgres
host = 34.69.44.174
port = 5432

[main]
from = admin@localhost
host = localhost
port = 25
user = 
password = 
